@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  /* max-width: 1440px; */
  background-color: #fdfcfc;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  border: 2px solid red;
  height: auto;
}

.container {
  padding: 2px 1px;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  height: auto;
  height: 80px;
}

.logo p {
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 5px;
  background-color: #e6f3fd;
  border-radius: 10px;
  padding: 0.6rem;
}

.tabs {
  display: flex;
  gap: 2rem;
  padding-right: 12%;
}

.tabs p {
  font-weight: 500;
  font-size: 1.5rem;
  padding: 0 1rem;
  cursor: pointer;
  color: #fff;
  border-radius: 0.6rem;
  background-color: #000;
}

/* Hero */

.hero {
  padding: 1rem 1rem;
  display: flex;
  margin-top: 2rem;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  gap: 2rem;
}

.left-hero {
  display: flex;
  flex-direction: column;
}

.upper-tag {
  font: 1.2rem;
}

.hero-heading {
  font-size: 2rem;
  text-decoration: underline;
}

.description {
  padding: 1rem 0;
  font-size: 1.2rem;
}

.lower-description {
  font-size: 1.2rem;
}

.hero p {
  margin: 0;
}

.hero h1 {
  margin: 0;
}

.hero-button-container {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  margin-top: 3rem;
  gap: 2rem;
}

.hero-button-container button {
  background-color: #000;
  border: none;
  font-size: 1.2rem;
  color: #fff;
  padding: 1rem 1.2rem;
  border-radius: 1rem;
  font-weight: 600;
}

.hero-button-container button:hover {
  cursor: pointer;
}

.right-hero img {
  width: 100%;
  height: auto;
}

/* Class Card */

.class-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
}

.class-card div {
  border: 3px solid black;
  padding: 0.5rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 0;
  border-radius: 2rem;
}

.class-board {
  margin: 0;
  font-weight: 600;
}

.class-name {
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
}

.class-name sup {
  font-size: 1rem;
  font-weight: 500;
}

/* right and bottom side shadow for class-card-one */

.class-card-one, .class-card-two, .class-card-three {
  -moz-box-shadow: 10px 5px 1px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 10px 5px 1px 0px rgba(0, 0, 0, 1);
  box-shadow: 10px 5px 1px 0px rgba(0, 0, 0, 1);
}


.class-card-one:hover, .class-card-two:hover, .class-card-three:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
  -moz-box-shadow: 10px 10px 5px 0px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(255, 255, 255, 0.75);
  /* box-shadow: 10px 5px 1px 0px rgba(0, 0, 0, 0.2); */
  box-shadow: 10px 5px 0px 0px #fff, 10px 7px 0px 2px rgba(0, 0, 0, 1);
}

/* Money Back Guarantee Section */

.money-back-guarantee {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem 0;
}

.money-back-guarantee h2 {
  font-size: 3rem;
  font-weight: 400;
}

.money-back-guarantee span {
  color: #0B53BF;
}

.money-back-guarantee p {
  font-size: 1.5rem;
  text-align: center;
}

